<% if @current_user %>

<h1>All UC Matches watch parties.</h1>


<% for event in @events %>
   <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><p><a href="/events/<%= event[:id] %>"><%= event[:title] %></a></p></h5>
    <p class="card-text"><%= event[:description] %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= event[:date] %></li>
    <li class="list-group-item"><%= event[:location] %></li>
  </ul>
</div>
<p>



</p>


<% end %>

<a href="/events/new" class="card-link">Create Event</a>

<% else %>
<p> 
<a href="/users/new" class="btn btn-danger">Please sign up to see all the UC matches </a>    
<p/>
<p> If you already have an account <a href="/logins/new" class="btn btn-danger">Please sign in to see all the UC matches</a></p>
<% end %>